.app.dark {
  --bg-color: #7ce6d676;
  --inverted-bg-color: #040817;

  // --primary-color: #049604;
  --primary-colot: #0e0d0d;
  --secondary-color: #b7c4df;

  // --inverted-primary-color: #0232c2;
  --inverted-primary-color: #bdcfcac9;
  --inverted-secondary-color: #05c68c;
}